footer {
  padding: 4rem 0;
  background-color: #202235;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
